<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <script src="/js/jquery.js"></script>
        <script src="/js/templatesClient/accueil.js"></script>
        <script src="/js/postClient.js"></script>
        <script src="/js/controllerClient.js"></script>
        <title> {{title}}</title>
    </head>
    <body class="monBody">
        <div id="container">
            <div id="contenu">

            </div>
            <div id="footer">
                © IUT du Limousin DUT Informatique année 2
                <br />
                Application réalisée par Sandrine Latour, Tristan Garnier, Louis Deluche
            </div>
        </div>
        <script src="/js/lightbox.js"></script>
    </body>
</html>
