<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/structure.css" />
        <title> {{title}}</title>
    </head>
    <body class="monBody">
        <div id="container">

            <div id="contenu">
                <br/>
                <br/>
                {{{body}}}
            </div>  
            <div id="footer">
                © IUT du Limousin DUT Informatique année 2
                <br />
                Application réalisée par Sandrine Latour, Tristan Garnier, Louis Deluche
            </div>
        </div>
        <script src="/js/jquery.js"></script>
        <script src="/js/lightbox.js"></script>
    </body>
</html>
