<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <script src="/js/jquery.js"></script>
        <script src="/js/templatesClient/accueil.js"></script>
        <script src="/js/templatesClient/plateau.js"></script>
        <script src="/js/postClient.js"></script>
        <script src="/js/controllerClient.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styleSheet.css">
        <link rel="icon" type="image/png" href="/images/favicon.png"/>
        <title> {{title}}</title>
    </head>
    <body class="monBody" background="/images/background.jpg">
        <div id="container">
            <div id="contenu">

            </div>
            <footer>
                © IUT du Limousin DUT Informatique année 2
                <br />
                Application réalisée par Sandrine Latour, Tristan Garnier, Louis Deluche
          </footer>
        </div>
        <script src="/js/lightbox.js"></script>
    </body>
</html>
