
body  {
    color: white;
    background-image: url("/images/background.jpg");
}

img{
  width:4em;
  height:4em;
  margin-bottom:-0.15em;
}
table{
  background-color: #130404;
}

footer{
  position: fixed;
  bottom: 0px;
  right:0px;
  margin-right: 50px;
}
