
body  {
    color: white;
    background-image: url("/images/background.jpg");
}

img{
  width:3.5em;
  height:3.5em;
  margin-bottom:-0.15em;
}
table{
  background-color: #130404;
}
.clair{
    background-image: url("/images/caseClair.jpg");
}
.fonce{
    background-image: url("/images/caseSombre.jpg");
}
#plateau td{
  width:3.5em;
  height:3.5em;
  margin-bottom:-0.15em;
}
#plateau{
    margin-left: 30em;
    margin-top: 0.5em;
    border-style: solid;
    border-width: 3px;
    border-color: #deac26;
    border-radius: 3px;
    box-shadow: 0px 0px 100px 50px #000000;
}

footer{
  position: fixed;
  bottom: 0px;
  right:0px;
  margin-right: 30px;
}
#connectForm{
  position: absolute;
  top: 10%;
  left: 30%;
  text-align: center;
}
#connectForm table{
  color:black;
  font-size: 30px;
  border-radius: 20px;
  background: url("/images/caseClair.jpg");
  box-shadow: 2px 2px 20px white;
  align-items: center;
  margin-left: 80px;
}
#connectForm .champs{
  width: 300px;
  height: 32px;
  font-size: 30px;
}
#connectForm td{
  padding: 10px;
}
#tittleConnexion h2{
  padding: 20px;
}
#tForm{
  padding: 20px;
  font-size: 50px;
}
