
body  {
    color: white;
    background-image: url("/images/background.jpg");
}


.clair{
    background-image: url("/images/caseClair.jpg");
}
.fonce{
    background-image: url("/images/caseSombre.jpg");
}
#plateau td{
  width:2em;
  height:2em;
  margin-bottom:-0.15em;
}
img{
  width:2em;
  height:2em;
  margin-bottom:-0.15em;
}
#plateau{
    border-style: solid;
    border-width: 3px;
    border-color: #deac26;
    border-radius: 3px;
    box-shadow: 0px 0px 100px 50px #000000;
}
#messagerie{
  position: fixed;
  bottom: 10px;
  left: 10px;
}
#content{
  position: absolute;
  top: 10%;
  left: 40%;
}
#tchat{
  height:200px;
  width: 400px;
  overflow:hidden;
  overflow-y:scroll;
  background-color: black;
  box-shadow: 2px 2px 20px white;
}
.envoie{
box-shadow: 2px 2px 20px white;
border-color: black;
background-color: black;
}
input{
  box-shadow: 2px 2px 20px white;
  border-color: white;
  border-radius: 10px;
  background-color: #f1f1f1;
  color: #0e0e0e;
}
#sendMess{
  background-color: black;
  color: white;
  border-color: black;
}
#sendMess:hover , #submit:hover{
  background-color:grey;
}
#message{
  width: 330px;
  background-color: black;
  border-color: black;
    color: white;
}
footer{
  position: fixed;
  bottom: 0px;
  right:0px;
  margin-right: 30px;
}
#connectForm{
  text-align: center;
}
#connectForm table{
  color:black;
  font-size: 25px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  background: url("/images/caseClair.jpg");
  box-shadow: 2px 2px 20px white;
  align-items: center;
}
#connectForm .champs{
  width: 300px;
  height: 22px;
  font-size: 20px;
}
#connectForm td{
  padding: 5px;
}
#tittleConnexion h2{
  padding: 10px;
}
#tForm{
  padding: 20px;
  font-size: 50px;
}
